{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <div class="panel">
        <h2>@ vous</h2>
        <h2>
            <p class="text-success">1 - Créer une fonction pour ranger son armes actives.<br/>
            2 - Créer une fonction pour redonner de la vie à un joueur ( meme sois meme et pas plus que pv max )<br/>
            3 - Modifier la fonction shoot pour donner des pourcentage de miss<br/></p>
            4 - Créer / Modifier la fonction shoot pour pouvoir tirer à vide ( => sur personne )<br/>
            5 - Gerer le fait que l'on ne puisse plus tirer sur une personne morte !<br/>
        </h2>
    </div>

    <div class="panel">
        <h1 class="title">Tester son code</h1>
        <h2>Branch Testing de TPhello</h2>

    </div>

    <div class="panel">
        <h2>composer require --dev symfony/phpunit-bridge</h2>
        <h2>composer require --dev symfony/browser-kit symfony/css-selector</h2>
        <h2>./bin/phpunit</h2>
    </div>

    <div class="panel">
        <h2>Le handler ou comment enlever le code du controler</h2>
        <h2>Lancer les test au commit</h2>
        <h2>Tester son code</h2>
    </div>

    <div class="panel">
        <h2>Tester ses services !</h2>
        <h2>Unload weapon</h2>
        <h2>Heal user</h2>
        <h2>Shoot</h2>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}