{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <h1>Team index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td><i class="{{ team.flag }} flag"></i> {{ team.name }}</td>
                <td>
                    <a href="{{ path('game_new', {'id': team.id}) }}">Créer un match pour cette équipe</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
